# -------------------------
# Maven
# -------------------------
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
**/*.log
*.class

# -------------------------
# Application Config
# -------------------------
# Ignore real config, allow sample config
# -------------------------
# Eclipse
# -------------------------
.project
.classpath
.settings/
*.launch

# -------------------------
# IntelliJ
# -------------------------
.idea/
*.iml
*.iws
out/

# -------------------------
# NetBeans
# -------------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS-specific files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Environment files
# -------------------------
.env
.env.local

# -------------------------
# Build and Dependency Caches
# -------------------------
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
.cache/
dependency-reduced-pom.xml

# -------------------------
# Docker
# -------------------------
docker-compose.override.yml
